<ion-view view-title="Home">

    <ion-content padding="true" scroll="false">

        <div class="row">
            <div class="col">
                <h3>Environment</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item">
                        Application
                        <span class="item-note">{{version.app}}</span>
                    </div>
                    <div class="item">
                        Cordova
                        <span class="item-note">{{version.cordova}}</span>
                    </div>
                    <div class="item">
                        ionic
                        <span class="item-note">{{version.ionic}}</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list">
                    <div class="item">
                        Angular JS
                        <span class="item-note">{{version.angular}}</span>
                    </div>
                    <div class="item">
                        jQuery
                        <span class="item-note">{{version.jquery}}</span>
                    </div>
                    <div class="item">
                        AppUtils
                        <span class="item-note">{{version.apputils}}</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 class="padding-top">Release Notes</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>2.0.0</h3>
                <ul>
                    <li><strong>REFACTOR:</strong> Ionic Framework</li>
                </ul>
            </div>
        </div>

    </ion-content>

</ion-view>