<ion-view view-title="cordova | InAppBrowser">
    <ion-content padding="true" scroll="false">

        <div class="options-container">
            <div class="row">
                <div class="col">
                    <h3>Options</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-30">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Content
                        </div>
                        <select ng-model="contentType" ng-options="contentType.name for contentType in contentTypeData" ng-change="updateContentType(contentType)">
                        </select>
                    </label>
                </div>
                <div class="col col-30">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Target
                        </div>
                        <select ng-model="target" ng-options="target.name for target in targetData" ng-change="updateTarget(target)">
                        </select>
                    </label>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Transition
                        </div>
                        <select ng-model="transitionStyle" ng-options="transitionStyle.name for transitionStyle in transitionStyleData" ng-change="updateTransitionStyle(transitionStyle)" style="max-width: 100%;">
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="item item-toggle">
                        Location Bar
                        <label class="toggle">
                            <input type="checkbox" ng-model="locationBar" ng-change="updateLocationBar(locationBar)" ng-true-value="'yes'" ng-false-value="'no'">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Toolbar
                        </div>
                        <select ng-model="toolbarPosition" ng-options="toolbarPosition.name for toolbarPosition in toolbarPositionData" ng-change="updateToolbarPosition(toolbarPosition)" style="max-width: 100%;">
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a href="#" target="_blank" class="button button-block button-outline button-assertive" ng-click="error($event)">Error Handling</a>
                </div>
                <div class="col col-offset-33">
                    <a href="#" target="_system" class="button button-block" ng-click="open($event)">OPEN</a>
                </div>
            </div>
        </div>

        <div class="output-container">

            <div class="card output-card">
                <div class="item item-divider">
                    <span>OUTPUT</span>
                    <a href="#" target="_system" class="output-button icon ion-ios-trash-outline" ng-click="clear($event)"></a>
                </div>
                <div class="item item-text-wrap">
                     <code class="output" ng-bind-html="output"></code>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>